#wrapper {
	width:1000px;
	margin: 0 auto 0 auto;
}
#content{
    margin-left:20px;
}
#banner{
 right:300px;position:relative;

}

#header {
  margin: 30px 0px 60px 0px;
  
  }
  
#header a {
  text-decoration:none;
}
#navlist{left:120px;position:relative;}
#navlist li{margin:0;padding:0;list-style:none;position:absolute;top:10;}
#navlist li, #navlist a{height:45px;display:block;}

#welcome{left:10px;width:95px;}
#welcome{background:url('/images/banner.png') 0px 0px;}
#welcome a:hover{background: url('/images/banner.png') 0px -45px;}


#experiments{left:105px;width:112.649px;}
#experiments{background:url('/images/banner.png')  -105px 0px;}
#experiments a:hover{background: url('/images/banner.png') -105.649px -45px;}

#dna{left:217.649px;width:112.649px;}
#dna{background:url('/images/banner.png')  -217.649px 0px;}
#dna a:hover{background: url('/images/banner.png') -217.649px -45px;}
           
#gene{left:330.3px;width:75px;}
#gene{background:url('/images/banner.png')  -330.3px 0px;}
#gene a:hover{background: url('/images/banner.png') -330.3px -45px;}

#pcr{left:406px;width:75px;}
#pcr{background:url('/images/banner.png')  -406px 0px;}
#pcr a:hover{background: url('/images/banner.png') -406px -45px;}

#taxonomy{left:481px;width:100px;}
#taxonomy{background:url('/images/banner.png')  -481px 0px;}
#taxonomy a:hover{background: url('/images/banner.png') -481px -45px;}

#primers{left:576px;width:100px;}
#primers{background:url('/images/banner.png')  -576px 0px;}
#primers a:hover{background: url('/images/banner.png') -576px -45px;}

#profile{left:652px;width:100px;}
#profile{background:url('/images/banner.png')  -652px 0px;}
#profile a:hover{background: url('/images/banner.png') -652px -45px;}


body { background-color: #fff; 
  color: #333;
  margin:50px; }
  

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header{

text-aligin:center;
  
}
table.custom{
    border-collapse: collapse;
}
th.custom{
    font-color:white;
    height:25px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight:400;
    letter-spacing:1px;
    font-size:16px;
    font-family:Futura,sans-serif;
    background-color:#00598F;
    color: #fff;
}
th.custom#small{
    font-size:13px;
}
th.custom a{

    height:25px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight:400;
    letter-spacing:1px;

    font-family:Futura,sans-serif;
    background-color:#00598F;
    color: #fff;
    text-decoration:none;
}
th.custom a:hover{

    height:25px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight:400;
    letter-spacing:1px;

    font-family:Futura,sans-serif;
    background-color:#00598F;
    color: #A7F0DE;
    text-decoration:none;
}

tr.even {
    background-color:#D5D5D5;
}

tr.odd {
    height:10px;
    overflow:hidden;
    background-color:white;
}
tr.odd:hover {
background-color: #A7F0DE;
}
tr.even:hover {
background-color: #A7F0DE;
}
td{
    padding-right:20px;
    padding-left:20px;
    height:20px;
}
td.icons {
    padding:5px;
    background-color:white;
}
td.icons:hover {
    background-color:none;

}
td.idfield{
    color:white;
    background-color:#00598F;
}

td.idfield#blank{
    background-color:white;
        padding-right:5px;
    padding-left:5px;
}
td.idfield#icons{
    background-color:white;
    width:15px;
}
td.primer{
    font-weight:bolder;
}

#title{
  font-size:36pt;
  color:#661521;
font-family: Gill Sans / Gill Sans MT, sans-serif;
  margin-bottom: 10px;

  
}
#subtitle{
  font-size:20pt;
  color:#47791D;
font-family: Gill Sans / Gill Sans MT, sans-serif;
  margin-bottom: 10px;    
}
.preview{

  margin-right:50%;

}
#primersinfo{

    
}

#shell{
    width:100%;
    height:100px;
    background-color:#999;
	margin: 0 0 0 auto;
}

