#header {
  margin: 30px 0px 50px 0px;
  
  }
  
#header a {
  text-decoration:none;
}
#navlist{left:120px;position:relative;}
#navlist li{margin:0;padding:0;list-style:none;position:absolute;top:0;}
#navlist li, #navlist a{height:44px;display:block;}

#welcome{left:0px;width:110px;}
#welcome{background:url('/images/banner.png') 0px 0;}
#welcome a:hover{background: url('/images/banner.png') 0px -45px;}

#experiments{left:110px;width:110px;}
#experiments{background:url('/images/banner.png')  -110px 0px;}
#experiments a:hover{background: url('/images/banner.png') -110px -45px;}

#dna{left:220px;width:105px;}
#dna{background:url('/images/banner.png')  -220px 0px;}
#dna a:hover{background: url('/images/banner.png') -220px -45px;}
           
#gene{left:325px;width:75px;}
#gene{background:url('/images/banner.png')  -325px 0px;}
#gene a:hover{background: url('/images/banner.png') -325px -45px;}

#pcr{left:400px;width:40px;}
#pcr{background:url('/images/banner.png')  -400px 0px;}
#pcr a:hover{background: url('/images/banner.png') -400px -45px;}

#taxonomy{left:440px;width:100px;}
#taxonomy{background:url('/images/banner.png')  -440px 0px;}
#taxonomy a:hover{background: url('/images/banner.png') -440px -45px;}

#profile{left:540px;width:100px;}
#profile{background:url('/images/banner.png')  -540px 0px;}
#profile a:hover{background: url('/images/banner.png') -540px -45px;}


body { background-color: #fff; 
  color: #333;
  margin:50px; }
  

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#header{

text-aligin:center;
  
}
th.custom{
    font-color:white;
    background-color:#00598F;
    color: #fff
}

tr.even {
    background-color:#D5D5D5;
}

tr.odd {
    background-color:white;
}
tr.odd:hover {
background-color: #A7F0DE;
}
tr.even:hover {
background-color: #A7F0DE;
}
#title{
  font-size:36pt;
  color:#661521;
  font-family:Menlo; 
  margin-bottom: 10px;

  
}
#subtitle{
  font-size:20pt;
  color:#47791D;
    font-family:Menlo;
  margin-bottom: 10px;    
}
}
}
