<h1>
	Updated 10/31/2011 at 11pm
</h1>
<h3>
	Changed
</h3>
<ol>
	<li>As part of an overall application upgrade there is a more flexible authentication system installed that works with rails 3.
	</li>
	<li>
		<b>Old accounts don't work. You need to click the <a href="/users/sign_up">Sign Up Link</a> to create a new one.</b>
	</li>
	<li>In accordance with discussed work flow <a href="/dnasamples">DNA Samples</a> has changed.
	</li>
	<li style="list-style: none">
		<div style="margin-left: 2em">
			<ol>
				<li>New Interface to New, Edit, And Show
				</li>
				<li>To accomplish this the following fields were added to the db schema
				</li>
				<li style="list-style: none">
					<ol>
						<li>Collector #
						</li>
						<li>Specimen Gender
						</li>
						<li>Collected Location
						</li>
						<li>Extraction Notes
						</li>
					</ol>
				</li>
				<li>I added a google maps method that will take the location entered in collection location and attempt to display a google map. The positioning of this needs to be adjusted.
				</li>
			</ol>
						</ol>
			<h1>
				Welcome
			</h1>
			<ol>
				<li style="list-style: none">
					<b>Workflow</b>
				</li>
				<li>Create a Primer
				</li>
				<li>Create a DNA Sample, optionally associate with a Gene.
				</li>
				<li>Create a PCR Tube and select the primers that should be associated with it.
				</li>
				<li>Create an experiment. Add the PCR tubes to be used in the experiment and click save.
				</li>
			</ol>
		</div>
	</li>
</ol>
