<h1>Welcome</h1>


	<ol><b>Workflow</b>
		<li>Create a Primer</li>
		<li>Create a DNA Sample, optionally associate with a Gene.</li>
		<li>Create a PCR Tube and select the primers that should be associated with it.</li>
		<li>Create an experiment.  Add the PCR tubes to be used in the experiment and click save. </li>
		
</ol>



<% if !current_user %>
  <%= link_to "Register", new_account_path %> |
  <%= link_to "Log In", new_user_session_path %> |
<% else %>
  <%= link_to "My Account", account_path %> |
  <%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %>
<% end %>

