<h1 style="text-align:center">Stand by...</h1>
<p style="text-align:center">A green hover over a tab is one that should be relatively bug free.</p>
<p style="text-align:center">A red hover over a tab means that you will probably discover an error page.</p>