<select id="pcr_field" name="project[pcr]">
  <%- if @project.pcrs.present? -%>  
    <%= options_from_collection_for_select(@project.pcrs, :id, :pcr_tube_name) %>
  <%- else -%>	
    <option value=''>There are no cities in the state you selected.</option>
  <%- end -%>
</select>