
<h1>Create a New Primer</h1>

<%= form_for(@primer) do |f| %>
	<%=render :partial => 'form',:locals => { :f => f }%>	
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', primers_path %>