<H2>Primer <%=h @primer.name %> </H2>

<table border="0" >
	<tr><th></th><th></th><th></th></tr>

	<tr><td>Primer L:</td><td><%=h @primer.primerl  %></td></tr>
	<tr><td>Primer H:</td><td> <%=h @primer.primerh  %></td></tr>
</table>

<%= link_to "Edit", edit_primer_path(@primer) %>


