<h1>
	New DNA Sample
</h1>



<%= form_for(@dnasample) do |f| %>
	<%=render :partial => 'form',:locals => { :f => f }%>	
	<p>
		<%= f.submit 'Create' %>
	</p>
<% end %>
<%= link_to 'Back', dnasamples_path %>
