body{
/*	background-color:#CACACA;*/
	
}
div.projects_index{
/*	position:relative;*/
position: relative; 
padding: 20px 0px 20px 10px;
background-color:white;
padding-bottom:50px;


}

div.projects_index table{
    border-collapse: collapse;
	width:100%;



}
div.projects_show table{
	border-collapse: collapse;
	float:left;

}

div.projects_index tr#header_row{
	background: -webkit-gradient(linear, left top, left bottom, from(#218989), to(#257A8D)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #218989,  #257A8D); /* for firefox 3.6+ */
	-webkit-box-shadow:none;
	background-color:#9BAACF;
	line-height:50px;
}

div.projects_index tr.odd{
	background-color:#D5D5D5;
	height:40px;
}
div.projects_index tr.even{

	background-color:white;
		height:40px;
}



div.projects_index tr.odd:hover {
background-color: #A7F0DE;
}
div.projects_index tr.even:hover {
background-color: #A7F0DE;
}

div.projects_index td{
	text-align: center;
	font-weight:400;
	font-size:14px;
	font-family:  sans-serif;

}
div.projects_index td a{
	display:block;
    height:100%;
    width:100%;
}
div.projects_right {
	margin-left: 100px;
	float:left;
	width:300px;
	height:300px;
	overflow:auto;
}
div#item_buttons{
	clear:both;

}