#wrapper {
	width:1024px;
	margin: 0 auto 0 auto;

}
#login{
    background-color:#C1C1C1;
    text-align:center;
    border-style:solid;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;    
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left:20%;
    margin-right:50%;
    margin-top:50px;

    
}
#content{
    margin:0 auto;
    width:100%;
}
#messages{
    width:100%;
    height:60px;

        margin-bottom:5px;
    padding:10px;


}
#banner{
padding-left: 90%; 

}


#header {
  margin: 30px 0px 60px 0px;
  
  }
  
#header a {
  text-decoration:none;
}


body { background-color: #fff; 
  color: #333;
  margin:50px; }
  

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }
.icons a:hover{
    color:none;
    background-color:white;

  }
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;

  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
#success {
  width: 400px;
  border: 2px solid green;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #A7CDC6;

}
button.message{
    color:red;
    font-weight: bold;
    font-size:16pt;
    border-style:none;

    position:relative;
    height:20px;
    width:20px;
    text-align:justify;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    left:-20px;
    top:-35px;
        -webkit-box-shadow:inset 5px 0px 40px #717171;
    
    
}
p#cancel{
    position:relative;
    color:red;
    text-shadow:#999 1px 1px 5px;
    font-weight: bold;
    font-size:16pt;
    left:-8px;
    top:-8px;
}
#header{

text-aligin:center;
  
}
table.custom{
    border-collapse: collapse;
}
th.custom{
    font-color:white;
    padding-bottom:10px;
    padding-top:10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight:400;
    letter-spacing:1px;
    font-size:16px;
    font-family:Futura,sans-serif;
    background-color:#00598F;
    color: #fff;
}
th.custom#small{
    font-size:13px;
}
th.custom a{


    padding-right: 20px;
    padding-left: 20px;
    font-weight:400;
    letter-spacing:1px;

    font-family:Futura,sans-serif;
    background-color:#00598F;
    color: #fff;
    text-decoration:none;
}
th.custom a:hover{


    padding-right: 20px;
    padding-left: 20px;
    font-weight:400;
    letter-spacing:1px;

    font-family:Futura,sans-serif;
    background-color:#00598F;
    color: #A7F0DE;
    text-decoration:none;
}

th.custom_tax a{

    font-weight:350;
    letter-spacing:1px;
    height:25px;
    padding-right:10px;
    padding-left:10px;
    font-family:Futura,sans-serif;
    background-color:#00598F;
    color: #fff;
        text-decoration:none;
}
tr.even {
    background-color:#D5D5D5;
}

tr.odd {
    height:10px;
    overflow:hidden;
    background-color:white;
}
tr.odd:hover {
background-color: #A7F0DE;
}
tr.even:hover {
background-color: #A7F0DE;
}
td{
    padding-right:20px;
    padding-left:20px;
    height:20px;
}
td.icons {
    padding:5px;
    background-color:white;
}
td.icons:hover {
    background-color:white;
    -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);

}
td.idfield{
    color:white;
    background-color:#00598F;
}
th.custom#lesswide{
    width:5px;
}
td.idfield#small{

    background-color:red;
}

td.idfield#blank{
    background-color:white;
        padding-right:5px;
    padding-left:5px;
}
td.idfield#icons{
    background-color:white;
    width:15px;
}
td.primer{
    font-weight:bolder;
}
td.taxon{
    font-size:9pt;
    width:10px;

    
}

#title{
  font-size:36pt;
  color:#661521;
font-family: Gill Sans / Gill Sans MT, sans-serif;
  margin-bottom: 10px;

  
}
#subtitle{
  font-size:20pt;
  color:#47791D;
font-family: Gill Sans / Gill Sans MT, sans-serif;
  margin-bottom: 10px;    
}
.preview{

  margin-right:50%;

}
#primersinfo{

    
}

#shell{
    width:100%;
    height:100px;
    background-color:#999;
	margin: 0 0 0 auto;
}










#welcome a:hover{

	background: #8265A6; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BAA5D2', endColorstr='#8265A6'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#BAA5D2), to(#8265A6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #BAA5D2,  #8265A6); /* for firefox 3.6+ */
			-webkit-box-shadow:none;
}


#exper a:hover{
	background: #F58C8C; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FABFBF', endColorstr='#F58C8C'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#FABFBF), to(#F58C8C)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #FABFBF,  #F58C8C); /* for firefox 3.6+ */
			-webkit-box-shadow:none;
}
#primers a:hover{
		background: #A2D87C; /* for non-css3 browsers */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CBECB4', endColorstr='#A2D87C'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#CBECB4), to(#A2D87C)); /* for webkit browsers */
		-webkit-box-shadow:none;
				background: -moz-linear-gradient(top,  #CBECB4,  #A2D87C); /* for firefox 3.6+ */
}
#dna a:hover{
background: #F5F48C; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFABF', endColorstr='#F5F48C'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#FAFABF), to(#F5F48C)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #FAFABF,  #F5F48C); /* for firefox 3.6+ */ 
		-webkit-box-shadow:none;
}

#pcr a:hover{
	background: #CB749F; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5AFC9', endColorstr='#CB749F'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#E5AFC9), to(#CB749F)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #E5AFC9,  #CB749F); /* for firefox 3.6+ */
			-webkit-box-shadow:none;
}
#genes a:hover{
		background: #F5B78C; /* for non-css3 browsers */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAD7BF', endColorstr='#F5B78C'); /* for IE */
		background: -webkit-gradient(linear, left top, left bottom, from(#FAD7BF), to(#F5B78C)); /* for webkit browsers */
		background: -moz-linear-gradient(top,  #FAD7BF,  #F5B78C); /* for firefox 3.6+ */
				-webkit-box-shadow:none;
}
#tax a:hover{
	background: #599B90; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DCDC5', endColorstr='#599B90'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#9DCDC5), to(#599B90)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #9DCDC5,  #599B90); /* for firefox 3.6+ */
			-webkit-box-shadow:none;
}
#profile a:hover{
	background: #8265A6; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BAA5D2', endColorstr='#8265A6'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#BAA5D2), to(#8265A6)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #BAA5D2,  #8265A6); /* for firefox 3.6+ */
			-webkit-box-shadow:none;
}
#nav{
    width:100%;
    
}

.shadow a{
    -webkit-box-shadow:inset 5px 0px 70px #717171;

}
.noshadow a{
	margin-left:0%;
    		-webkit-box-shadow:none;
}

#map {

}
#left_table{

}
.index_information{
	position:relative;
	margin-bottom:30px;

	
}
.button_create{
	font-size:18px;	
}

#background_banner{

	width:100%;
	height:10px;
}
div.horizontal
{
width:100%;
height:60px;
background-color:#315099;

	background: -webkit-gradient(linear, left top, left bottom, from(#315099), to(#4B6099)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #315099,  #4B6099); /* for firefox 3.6+ */
			-webkit-box-shadow:none;

}
div.horizontal ul
{
list-style-type:none;




/*padding:0;*/
}
div.horizontal li
{
	
padding:0 auto 0 auto;
float:left;
}
div.horizontal a
{

display:block;
height:60px;
width:130px;
}
div.horizontal a:link,div.horizontal a:visited
{
/*	margin-left:auto;*/
margin-right:auto;
margin-top: auto;
line-height:60px;
font-weight:bold;
color:#FFFFFF;
/*background-color:#315099;*/
text-align:center;
font-size:14px;

text-decoration:none;
text-transform:uppercase;


}
div.horizontal a:hover,div.horizontal a:active
{
		background: -webkit-gradient(linear, left top, left bottom, from(#5E993C), to(#57993A)); /* for webkit browsers */
		-webkit-box-shadow:none;
				background: -moz-linear-gradient(top,  #5E993C,  #57993A); /* for firefox 3.6+ */
}

