
	<div class="target3">
	<%= select('gene','primer',Primer.all.collect {|p| [ p.id, p.id] }, {:prompt => 'Select Primer'})%>

			</div>
			
 
	<div class="preview">
		<div id="primersinfo">			

	

	<table border="0" cellspacing="5" cellpadding="5">
		<tr><th>Primer Info</th></tr>
		<tr><td>Primer H/L: </td><td><div class='primerh'/></td></tr>
		<tr><td> </td><td></td></tr>
	</table>



</div>
</div>
<%= link_to 'Back', genes_path %>