<%= stylesheet_link_tag 'nav' %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title></title>
	</head>
	<body>
		<div class="top">
		<div class="banner">
			<% if user_signed_in? %><%= link_to('Logout', '/logout')%><% else %><%= link_to('Login', new_user_session_path)  %><% end %>
		</div>
		<div class="header">
			<img src="/images/ReddyLab.png" width="100" height="75" style="float:left" hspace="20px">
			<div id="title">
				Reddy Lab
			</div>
			<div id="subtitle">
				Experimental Database
			</div>
		</div>
		</div>
		<div class="horizontal">
			<ul>
								<li><a href="/">Welcome</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/primers">Primers</a></li>
				<li><a href="/dnasamples">DNA Samples</a></li>
				<li><a href="/pcrs">PCR</a></li>
								<li><a href="/genes">Genes</a></li>
												<li><a href="/taxonomies">Taxonomy</a></li>
			</ul>
		</div>
		
	
	</body>
</html>
